   <div class="col-xs-offset-1 col-xs-10">
    <h2>Follower Users</h2>
      <% if @users.empty? %>
        <span>ユーザーはいません</span>
      <% else%>
        <table class='table'>
          <thead>
            <tr>
              <th>image:</th>
              <th>name:</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @user.followers.each do |user| %>
          <table class= 'table'>
            <tbody>
            <tr>
              <th><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %></th>
              <th><%= user.name %></th>
              <th>フォロー数:<%= user.followings.count %></th>
              <th>フォロワー数:<%= user.followers.count %></th>
              <th><%= link_to 'show', user_path(user) %></th>
            </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
