<div class="container">
  <div class="col-xs-12">
    <%= link_to "ユーザー一覧に戻る", users_path,class:"edit-link" %>
    <h2>チャット</h2>
    <table class="table">
      <% @entries.each do |e| %>
      <thead>
        <tr>
          <%= attachment_image_tag(e.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
        </tr>
        <tr>
          <a class="rooms-user-link" href="/users/<%= e.user.id %>">
          <%= e.user.name %>
          </a>
        </tr>
      </thead>
      <% end %>
      </table>

      <table class="table">
        <% if @messages.present? %>
        <% @messages.each do |m| %>
          <tbody>
            <thead>
              <tr><%= attachment_image_tag(m.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
              <tr><%= m.content %></tr>
              <tr><%= m.created_at.strftime("%Y-%m-%d %H:%M")%></tr>
            </thead>
          </tbody>
        <% end %>
        <% end %>
      </table>

      <table class = "table">
        <%= form_for @message do |f| %>
          <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
          <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
        <% end %>
      </table>
    </div>
  </div>